<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoHallUI</servlet-name>
    <servlet-class>com.xz.controller.GoHallUI</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowppingClServlet</servlet-name>
    <servlet-class>com.xz.controller.ShowppingClServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoMyOrderServlet</servlet-name>
    <servlet-class>com.xz.controller.GoMyOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <servlet-class>com.xz.controller.SubmitOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoShowMyCart</servlet-name>
    <servlet-class>com.xz.controller.GoShowMyCart</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>GoHallUI</servlet-name>
    <url-pattern>/GoHallUI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowppingClServlet</servlet-name>
    <url-pattern>/ShowppingClServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoMyOrderServlet</servlet-name>
    <url-pattern>/GoMyOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <url-pattern>/SubmitOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoShowMyCart</servlet-name>
    <url-pattern>/GoShowMyCart</url-pattern>
  </servlet-mapping>

</web-app>