@CHARSET "UTF-8";
/*.style就是类选择器*/
.style1{
	font-size: 20px;
	font-weight: bold;
	background-color: purple;
	
}

/*#style就是ID选择器*/
#style2{
font-size: 30px;
color:black;
background-color: skyblue;
}

/*父子选择器*/
#style2 span{
	font-style:italic;
	color:red;
}

/*html选择器body(button,input,form...)*/
body{
color:orange;
}

/*案例：假设，我们希望所有的超链接
默认样式是黑色，24px，没有下划线
当鼠标移动到超链接时，自动出现下划线
点击后，超链接变成红色。
*/

/*超链接*/
a:link{
	color:black;
	font-size:24px;
	text-decoration:none;
}

/*超链接鼠标悬停*/
a:hover {
	text-decoration: underline;
}
/*超链接鼠标点击完*/
a:visited {
	color: red;
}
/******************************************/

/*使用通配符选择器对外边距和内边距清零*/
*{
	/*将外边距清零
	margin: 0; 
	*/
	/*分别设置四个方向的外边距
	margin-top:10px;
	margin-left:10px;
	margin-right:0px;
	margin-bottom:0px;
	*/
	/*顺时针方向：上，右，下，左 
	margin:10px 0px 0px 10px;
	*/
	/*10表示上，左右，下
	margin:10px 0px 0px;
	*/
	/*将内边距清零，padding的规范跟margin一样*/
	padding: 0;
}






