@CHARSET "UTF-8";
body{
	margin: 0 auto;
	width: 600px;
	height: 800px;
	border: 1px solid black;
}

/*用于控制显示的位置*/
.div1{
	width: 300px;
	height: 500px;
	border: 1px solid black;
}

/*用于控制显示图片的宽度和高度*/
.faceul{
	width: 300px;
	height: 100px;
	list-style-type: none;
	padding: 0px;
}

/*用于控制单个图片区域的大小*/
.faceul li{
	width: 60px;
	height: 70px;
	float: left; /*左浮动*/
	margin-top: 5px;
	margin-left: 30px;
	text-align: center;
	background-color: pink;
}
.faceul a{
	font-size: 12px;
	color: blue;
}
.faceul img{
	width: 60px;
}

a:LINK {
	text-decoration: none;
}

/*定义几个常用的字体样式*/
.font1{
	font-weight: bold;
	font-size: 20px;
}

.span1{
	display: block;
}
.span1 a{
	float:right;
	font-size: 12px;
	color: blue;
}
