@CHARSET "UTF-8";

body{
	width: 500px;
	height: 400px;
	margin: 0 auto;
}
.gamediv{
	width: 500px;
	height: 400px;
	background-color: pink;
}
.controlcenter{
	width: 150px;
	height: 100px;
	margin-top: 50px;
	margin-left: 180px;
	border: 1px solid red;
}
